* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.step-group {
  display: none;
}
.step-group.active {
  display: block;
}

.error-msg {
  color: red;
  font-size: 0.8em;
  min-height: 1.2em;
  display: block;
}
.hidden {
  display: none !important;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 3px;
  margin-top: 2px;
  box-sizing: border-box;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
button {
  padding: 10px 20px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
}

#progress-bar-container {
  height: 10px;
  width: 100%;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color:burlywood;
  transition: width 0.4s ease-in-out;
}
