* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; 
    width: 100%;      
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#img-content {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
}

#profile-pic {
    height: 100%;
    width: 100%;
    border-radius: 60%;
}

#img-section {
    width: 30%;
    height: 100%;
    background-color: beige;
    position: relative;
}

#content-section {
    width: 70%;
    height: 100%;
    background-color: wheat;
    padding: 100px 10px 0px 100px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* overflow: hidden; */
}

.content > div > b {
    font-size: 1.2em;
}

#name {
    font-size: 2.5em;
    font-weight: bold;
}

#tagline {
    font-size: 1.5em;
    font-weight: 500;
}

#about-me {
    font-size: 1em;
}

.normal-btn {
    background-color: beige;
}