body {
	font-family: sans-serif;
	margin: 20px;
}

form {
	border: 1px solid black;
	padding: 20px;
	width: 20%;
}

form > div {
	margin-bottom: 1em;
}

label {
	margin-bottom: 5px;
}

input {
	width: 90%;
	padding: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 30px;
	margin-bottom: 20px;
}

th,td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

button {
	padding: 5px 10px;
}

#clear-btn {
	margin-top: 10px;
}